.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.skill {
  margin-right: 0.5em;
}

.click-to-edit{
  cursor: pointer;
}

.img-profile {
  width:50%;
}

.angular-google-map-container { height: 400px; }
